:root{
    --color-red: rgb(227, 73, 73);
    --color-blue: rgb(0, 36, 165);
}

.root-notifications {
    border: 3px dotted var(--color-red);
    padding: 2rem;
}

.default_priority {
    color: var(--color-blue);
}

.urgent_priority {
    color: var(--color-red);
}

.text_red {
    color: var(--color-red);
}